
li {
  list-style-type: none;
}

h5 {
  border: 1px solid white;
  background-color: lightgrey;
  color: black;
  border-radius: 25px;
  padding: 5px;
  position: absolute;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}


